body{
    width: 300px;
    margin: auto;
    
}
img{
    border: 8px solid black;
    width: 300px;
    display: inline-block;
    border-radius: 50px;
    
}
h1{
    font-family: century;
    text-align: center;
}
h2{
    color: orangered;
}
.link{
    background-color: aqua;
}
.inhalt{
    text-align: left;
    width: 300px;
    margin: auto;
}
a:hover{
    background-color: gray;
}
@media screen and (max-width: 800px){
    body{
        font-size: 1.2em;
        margin-top: 80px;
    }
    h1{
        text-align: center;
        position: fixed;
        border: 10px solid white;
        border-bottom: 5px solid gray;
        padding: 10px;
        display: inline-block;
        border-radius: 0px;
        background-color: white;
        margin-top: -90px;
        
    }
    a{
        color: brown;
        text-decoration: none;
    }
    a:hover{
        background-color: gray;
    }
}
@media print {
    .link{
        visibility: hidden;
    }
    body{
        background-color: aqua;
    }
}