
/* Head und Header der auf jeder Seite gleich ist */
.header{
    font-size: larger;
    font-style: initial;
    padding: 20px;
}
.title {
    font-size: 28px; 
    font-weight: bold; 
    color: black; 
    padding: 0; 
    text-align: center; 
    text-decoration: none;
}
.naviLeiste{
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(155, 197, 235);
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigator{
    text-align: right;
    width:30%;
    display: flex;
    flex-direction: row;
}
/*Algemeine Tags über die ganze webseite*/
@font-face {
    font-family: "ComicSansBold";
    src: url(Fonts/QDBetterComicSans/Qdbettercomicsansbold-511d8.ttf); 
}
@font-face {
    font-family: "ComicSans";
    src: url(Fonts/QDBetterComicSans/Qdbettercomicsans-jEEeG.ttf);
}
body{
    font-family: "ComicSansBold";
}
a{
    padding: 10px;
}
h1{
    text-align: center; 
    font-size: 3.5em;
}
p{
    margin-bottom: 3px;
    margin-top: 0px;
    font-family: "ComicSans";
}
select{
    max-height: 20px;
}
/* Classes die in der ganzen webseite gebraucht werden*/
.shopping{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10px;

}
.shoppingImg{
    width: 20px;
}
.contentTable{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto; 
}
.contentDiv{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 5px;
    min-width: 250px;
}
.shoppingCartDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}
.shoppingCartImg{
    width: 20px;
}
.name{
    margin-bottom: 5px;
}

/*Classes für die Startseite (Index) */
.pizzeriaTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pizzeriaDiv{
    display: flex;
    justify-content: center;
    width: 100%;

}
.indexImgContainer {
    position: relative; 
    display: flex;
    width: 250px;
    height: 150px;
    margin: 5px; 
    overflow: hidden;

}
.pizzerialinks{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
}
.indexImg{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
    z-index: 1;
}
.indexPictureText{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px; 
    font-size: 30px;
    font-weight: 200;
    color: azure;
    text-decoration: none;
    z-index: 2; 
}
.pizzeriaImg{
    width: 50%;
}

/* Classes für die Pizza seite*/ 
.pizzaTable{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.pizzaDivTable{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pizzaDiv{
    width: 20%;
    min-width: 300px;
}
.pizza{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.pizzaPreis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pizzaPreisAlign{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


/*Classes für die Salad Seite*/ 
.salad{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.saladDiv{
    display: flex;
    flex-direction: column;
}
.saladAlign{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.salatSelect{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}
.saladPreis{
    display: flex;
    flex-direction: row;

}
/*Classes für die Soft Drink seite*/
.softDrinkAlign{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}
.softDrinkPreis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
/*Classes für die Feedback seite*/
.feedbackBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.feedback{
    text-align: center;
}
.feedbackDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    text-align: right;
    margin-right: 10px;
}
.inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    text-align: right;
}
.inputName{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.inputText{
    width: 100%;
}
.inputNormal{
    width: 90%;
    border: 3px solid black ;
}
.inputTextArea{
    height: 300px;
    width: 90%;
    align-items: flex-start;
    border: 3px solid black ;
}
.sendButton{
    margin-bottom: 30px;
}
/*Classes für die bewertung seite*/
.thanksPage{
    padding-bottom: 17%;
    display: flex;
    justify-content: center;
}
/*Classes für den Footer der auf jeder Seite gleich ist*/
.foot{
    border: 5px solid black;
    background-color: rgb(155, 197, 235);
    margin-bottom: 100px;
}
.footDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.footText{
    width: 250px;
    height: 100%;
}
